# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jonathan\OneDrive - The University of Texas at Dallas\Classes\A_SE 6329_OOSE\Project\CometBooks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
